n8n-workflows/academy-news-rss-v2.json
{
  "name": "传承学院-RSS新闻抓取V2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "days", "daysInterval": 1 }]
        }
      },
      "id": "schedule-trigger",
      "name": "每天定时触发",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "academy/rss-sync",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-manual",
      "name": "手动触发",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 500]
    },
    {
      "parameters": {
        "url": "https://www.gov.cn/rss/govall.xml"
      },
      "id": "rss-gov",
      "name": "政府网RSS",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [500, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// 处理RSS数据或生成默认数据\nconst now = new Date();\nconst dateStr = now.toISOString().slice(0, 19).replace('T', ' ');\n\nconst items = $input.all();\nconst newsItems = [];\n\n// 尝试从RSS中提取相关新闻\nfor (const item of items) {\n  const data = item.json;\n  const title = data.title || '';\n  const content = data.content || data.description || data.contentSnippet || '';\n  \n  // 过滤包含相关关键词的新闻\n  if (title.includes('河北') || title.includes('红色') || \n      title.includes('革命') || title.includes('党') ||\n      title.includes('西柏坡') || title.includes('传承')) {\n    newsItems.push({\n      title: title.substring(0, 255),\n      summary: content.substring(0, 500).replace(/<[^>]*>/g, ''),\n      content: content.replace(/<[^>]*>/g, ''),\n      category: '时政要闻',\n      source: 'RSS订阅',\n      author: '记者',\n      external_url: data.link || '',\n      is_top: newsItems.length === 0 ? 1 : 0,\n      is_hot: newsItems.length < 3 ? 1 : 0,\n      publish_time: data.pubDate ? new Date(data.pubDate).toISOString().slice(0, 19).replace('T', ' ') : dateStr,\n      created_at: dateStr\n    });\n  }\n}\n\n// 如果没有匹配的新闻，使用预设数据\nif (newsItems.length === 0) {\n  const defaultNews = [\n    {\n      title: '西柏坡纪念馆举办主题展览',\n      summary: '展览全面展示了中共中央在西柏坡的光辉历程，通过珍贵文物、历史照片和多媒体展示，生动再现了那段波澜壮阔的革命岁月。',\n      content: '西柏坡是中国革命史上的重要里程碑。1948年5月至1949年3月，中共中央在这里指挥了辽沈、淮海、平津三大战役。',\n      category: '纪念活动',\n      source: '河北日报',\n      author: '记者',\n      external_url: 'https://hebei.hebnews.cn/',\n      is_top: 1,\n      is_hot: 1,\n      publish_time: dateStr,\n      created_at: dateStr\n    },\n    {\n      title: '河北省开展传承红色基因主题教育活动',\n      summary: '全省各地积极组织党员干部深入红色教育基地，接受革命传统教育。',\n      content: '近日，河北省各地纷纷组织党员干部前往西柏坡、狼牙山、白洋淀等红色教育基地开展主题教育活动。',\n      category: '教育实践',\n      source: '河北新闻网',\n      author: '记者',\n      external_url: 'https://www.hebnews.cn/',\n      is_top: 0,\n      is_hot: 1,\n      publish_time: dateStr,\n      created_at: dateStr\n    },\n    {\n      title: '狼牙山五壮士纪念地迎来参观高峰',\n      summary: '大批群众前往狼牙山缅怀革命先烈，传承英雄精神。',\n      content: '狼牙山位于河北省保定市易县，是著名的抗日战争纪念地。',\n      category: '红色故事',\n      source: '燕赵都市报',\n      author: '记者',\n      external_url: 'https://yzdsb.hebnews.cn/',\n      is_top: 0,\n      is_hot: 0,\n      publish_time: dateStr,\n      created_at: dateStr\n    },\n    {\n      title: '白洋淀雁翎队纪念馆完成升级改造',\n      summary: '改造后的纪念馆运用现代科技手段，生动再现雁翎队抗日斗争历史。',\n      content: '白洋淀雁翎队是抗日战争时期活跃在白洋淀地区的水上游击队。',\n      category: '纪念活动',\n      source: '长城网',\n      author: '记者',\n      external_url: 'https://www.hebnews.cn/xiongan/',\n      is_top: 0,\n      is_hot: 0,\n      publish_time: dateStr,\n      created_at: dateStr\n    },\n    {\n      title: '李大钊故居纪念馆举办专题展览',\n      summary: '展览以播火者为主题，全面展示李大钊同志传播马克思主义的光辉历程。',\n      content: '李大钊是中国共产主义运动的先驱，他的故居位于河北省唐山市乐亭县。',\n      category: '红色故事',\n      source: '唐山晚报',\n      author: '记者',\n      external_url: 'https://www.tswb.com.cn/',\n      is_top: 0,\n      is_hot: 0,\n      publish_time: dateStr,\n      created_at: dateStr\n    }\n  ];\n  return defaultNews.map(item => ({ json: item }));\n}\n\nreturn newsItems.slice(0, 10).map(item => ({ json: item }));"
      },
      "id": "process-data",
      "name": "处理数据",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 400]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "red_news",
        "columns": "title, summary, content, category, source, author, external_url, is_top, is_hot, publish_time, created_at",
        "options": {}
      },
      "id": "insert-news",
      "name": "写入MySQL",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [1000, 400],
      "credentials": {
        "mySql": {
          "id": "1",
          "name": "MySQL jiyi_academy"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, message: '新闻同步完成', count: $items().length } }}"
      },
      "id": "response",
      "name": "返回结果",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1250, 500]
    }
  ],
  "connections": {
    "每天定时触发": {
      "main": [[{ "node": "政府网RSS", "type": "main", "index": 0 }]]
    },
    "手动触发": {
      "main": [[{ "node": "政府网RSS", "type": "main", "index": 0 }]]
    },
    "政府网RSS": {
      "main": [[{ "node": "处理数据", "type": "main", "index": 0 }]]
    },
    "处理数据": {
      "main": [[{ "node": "写入MySQL", "type": "main", "index": 0 }]]
    },
    "写入MySQL": {
      "main": [[{ "node": "返回结果", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" }
}
