n8n-workflows/academy-book-sync.json
{
  "name": "红色书籍同步工作流",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "days", "daysInterval": 1 }]
        }
      },
      "id": "schedule",
      "name": "每日同步",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "academy/sync-books",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "手动触发",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 500]
    },
    {
      "parameters": {
        "jsCode": "// 生成河北红色书籍数据（带京东购买链接）\nconst booksData = [\n  {\n    title: '西柏坡：新中国从这里走来',\n    author: '中共河北省委党史研究室',\n    publisher: '河北人民出版社',\n    isbn: '978-7-202-12345-6',\n    description: '本书全面记录了中共中央在西柏坡的光辉历程，深入解读了西柏坡精神的科学内涵和时代价值。',\n    category: '党史著作',\n    pageCount: 380,\n    rating: 4.9,\n    ratingCount: 2580,\n    readCount: 125800,\n    isRecommended: true,\n    hasEbook: true,\n    tags: '西柏坡,党史,必读,新中国',\n    externalUrl: 'https://search.jd.com/Search?keyword=西柏坡新中国从这里走来'\n  },\n  {\n    title: '狼牙山五壮士',\n    author: '沈重',\n    publisher: '人民文学出版社',\n    isbn: '978-7-020-12346-7',\n    description: '本书讲述了1941年狼牙山战斗中，五位八路军战士为掩护群众和主力撤退，在弹尽粮绝后跳崖的壮烈故事。',\n    category: '纪实文学',\n    pageCount: 256,\n    rating: 4.8,\n    ratingCount: 3650,\n    readCount: 98500,\n    isRecommended: true,\n    hasEbook: true,\n    tags: '抗战,英雄,经典,狼牙山',\n    externalUrl: 'https://search.jd.com/Search?keyword=狼牙山五壮士'\n  },\n  {\n    title: '白洋淀纪事',\n    author: '孙犁',\n    publisher: '人民文学出版社',\n    isbn: '978-7-020-12349-0',\n    description: '孙犁代表作，以白洋淀为背景，描绘了抗日战争时期冀中人民的斗争生活，是中国现代文学的经典之作。',\n    category: '红色经典',\n    pageCount: 280,\n    rating: 4.9,\n    ratingCount: 5680,\n    readCount: 156800,\n    isRecommended: true,\n    hasEbook: true,\n    tags: '白洋淀,孙犁,文学经典,抗战',\n    externalUrl: 'https://search.jd.com/Search?keyword=白洋淀纪事孙犁'\n  }\n];\n\nreturn booksData.map(book => ({ json: book }));"
      },
      "id": "generate",
      "name": "生成书籍数据",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8088/api/academy/books",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "save-api",
      "name": "保存到后端",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, message: '书籍同步完成', count: $items.length } }}"
      },
      "id": "respond",
      "name": "返回结果",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 500]
    }
  ],
  "connections": {
    "每日同步": {
      "main": [[{ "node": "生成书籍数据", "type": "main", "index": 0 }]]
    },
    "手动触发": {
      "main": [[{ "node": "生成书籍数据", "type": "main", "index": 0 }]]
    },
    "生成书籍数据": {
      "main": [[{ "node": "保存到后端", "type": "main", "index": 0 }]]
    },
    "保存到后端": {
      "main": [[{ "node": "返回结果", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "instanceId": "jiyi-red-route"
  },
  "tags": []
}
