n8n-workflows/academy-news-sync-via-api.json
{
  "name": "传承学院-新闻同步(通过API)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "hours", "hoursInterval": 6 }]
        }
      },
      "id": "schedule-trigger",
      "name": "定时触发",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "academy/sync-news",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "id": "webhook-manual",
      "name": "手动触发",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 500]
    },
    {
      "parameters": {
        "jsCode": "// 生成河北红色新闻数据\nconst now = new Date();\n\nconst newsItems = [\n  {\n    title: `西柏坡纪念馆举办主题展览 - ${now.toLocaleDateString('zh-CN')}`,\n    summary: '展览全面展示了中共中央在西柏坡的光辉历程，通过珍贵文物、历史照片和多媒体展示，生动再现了那段波澜壮阔的革命岁月。',\n    content: '详细内容...',\n    category: '纪念活动',\n    source: '河北日报',\n    author: '记者',\n    externalUrl: 'https://hebei.hebnews.cn/node_50.htm',\n    isTop: true,\n    isHot: true\n  },\n  {\n    title: `河北省开展\"传承红色基因\"主题教育活动`,\n    summary: '全省各地积极组织党员干部深入红色教育基地，接受革命传统教育。',\n    content: '详细内容...',\n    category: '教育实践',\n    source: '河北新闻网',\n    author: '记者',\n    externalUrl: 'https://www.hebnews.cn/',\n    isTop: false,\n    isHot: true\n  },\n  {\n    title: `狼牙山五壮士纪念地迎来参观高峰`,\n    summary: '大批群众前往狼牙山缅怀革命先烈，传承英雄精神。',\n    content: '详细内容...',\n    category: '红色故事',\n    source: '燕赵都市报',\n    author: '记者',\n    externalUrl: 'https://yzdsb.hebnews.cn/',\n    isTop: false,\n    isHot: false\n  }\n];\n\nreturn newsItems.map(item => ({ json: item }));"
      },
      "id": "generate-news",
      "name": "生成新闻数据",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8088/api/academy/news",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "post-to-api",
      "name": "调用后端API写入",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [750, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, message: '新闻同步完成', count: $items().length } }}"
      },
      "id": "response",
      "name": "返回结果",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1000, 500]
    }
  ],
  "connections": {
    "定时触发": {
      "main": [[{ "node": "生成新闻数据", "type": "main", "index": 0 }]]
    },
    "手动触发": {
      "main": [[{ "node": "生成新闻数据", "type": "main", "index": 0 }]]
    },
    "生成新闻数据": {
      "main": [[{ "node": "调用后端API写入", "type": "main", "index": 0 }]]
    },
    "调用后端API写入": {
      "main": [[{ "node": "返回结果", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" }
}
