n8n-workflows/academy-books-daily-sync.json
{
  "name": "传承学院-每日书籍同步",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "days", "daysInterval": 1 }]
        }
      },
      "id": "schedule-trigger",
      "name": "定时触发(每天)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "https://search.jd.com/Search?keyword=河北红色书籍",
        "options": { "response": { "response": { "fullResponse": true } } }
      },
      "id": "fetch-jd-books",
      "name": "抓取京东书籍",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "jsCode": "// 解析书籍数据（实际项目中应解析HTML或调用API）\nconst booksData = [\n  {\n    title: '西柏坡：新中国从这里走来',\n    author: '中共河北省委党史研究室',\n    publisher: '河北人民出版社',\n    isbn: '978-7-202-12345-6',\n    description: '本书全面记录了中共中央在西柏坡的光辉历程。',\n    category: '党史著作',\n    rating: 4.9,\n    is_recommended: 1,\n    has_ebook: 1,\n    tags: '西柏坡,党史,必读',\n    external_url: 'https://search.jd.com/Search?keyword=西柏坡新中国从这里走来'\n  },\n  {\n    title: '狼牙山五壮士',\n    author: '沈重',\n    publisher: '人民文学出版社',\n    isbn: '978-7-020-12346-7',\n    description: '讲述五位八路军战士的壮烈故事。',\n    category: '纪实文学',\n    rating: 4.8,\n    is_recommended: 1,\n    has_ebook: 1,\n    tags: '抗战,英雄,经典',\n    external_url: 'https://search.jd.com/Search?keyword=狼牙山五壮士'\n  },\n  {\n    title: '白洋淀纪事',\n    author: '孙犁',\n    publisher: '人民文学出版社',\n    isbn: '978-7-020-12349-0',\n    description: '孙犁代表作，描绘抗日战争时期冀中人民的斗争生活。',\n    category: '红色经典',\n    rating: 4.9,\n    is_recommended: 1,\n    has_ebook: 1,\n    tags: '白洋淀,孙犁,文学经典',\n    external_url: 'https://search.jd.com/Search?keyword=白洋淀纪事'\n  }\n];\n\nreturn booksData.map(item => ({ json: item }));"
      },
      "id": "parse-books",
      "name": "解析书籍数据",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO red_book (title, author, publisher, isbn, description, category, rating, is_recommended, has_ebook, tags, external_url, created_at) VALUES ('{{ $json.title }}', '{{ $json.author }}', '{{ $json.publisher }}', '{{ $json.isbn }}', '{{ $json.description }}', '{{ $json.category }}', {{ $json.rating }}, {{ $json.is_recommended }}, {{ $json.has_ebook }}, '{{ $json.tags }}', '{{ $json.external_url }}', NOW()) ON DUPLICATE KEY UPDATE rating = VALUES(rating), is_recommended = VALUES(is_recommended), updated_at = NOW()"
      },
      "id": "insert-books",
      "name": "写入数据库",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [1000, 300],
      "credentials": {
        "mySql": { "id": "mysql-academy", "name": "MySQL Academy" }
      }
    }
  ],
  "connections": {
    "定时触发(每天)": {
      "main": [[{ "node": "抓取京东书籍", "type": "main", "index": 0 }]]
    },
    "抓取京东书籍": {
      "main": [[{ "node": "解析书籍数据", "type": "main", "index": 0 }]]
    },
    "解析书籍数据": {
      "main": [[{ "node": "写入数据库", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" }
}
