n8n-workflows/tourism-audio-guide-ai.json
{
  "name": "智慧旅游-AI语音讲解",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tourism/audio-guide",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d1e2f3a4-1111-2222-3333-444455556666",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, name, description, address, category, history, highlights, tips FROM attraction WHERE id = {{ $json.body.spotId }} OR name LIKE CONCAT('%', '{{ $json.body.spotName }}', '%') LIMIT 1",
        "options": {}
      },
      "id": "d1e2f3a4-2222-3333-4444-555566667777",
      "name": "MySQL获取景点",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.3,
      "position": [450, 300],
      "credentials": {
        "mySql": {
          "id": "YOUR_MYSQL_CREDENTIAL_ID",
          "name": "MySQL jiyi_tourism"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-3.5-turbo",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "你是一位专业的红色旅游景点讲解员，请为游客生成生动、详细的语音讲解内容。讲解要包含历史背景、重要事件、人物故事和参观建议。语言要通俗易懂，富有感染力。"
            },
            {
              "role": "user",
              "content": "请为以下景点生成3段语音讲解内容，每段150-200字：\n\n景点名称：{{ $json.name }}\n景点描述：{{ $json.description }}\n历史背景：{{ $json.history }}\n亮点：{{ $json.highlights }}\n\n请按以下JSON格式返回：\n{\"chapters\": [{\"title\": \"标题\", \"content\": \"讲解内容\", \"duration\": 预估秒数}]}"
            }
          ]
        },
        "options": {
          "temperature": 0.7,
          "maxTokens": 2000
        }
      },
      "id": "d1e2f3a4-3333-4444-5555-666677778888",
      "name": "OpenAI生成讲解",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.3,
      "position": [650, 300],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const spot = $('MySQL获取景点').first().json;\nconst aiResponse = $('OpenAI生成讲解').first().json;\n\nlet chapters = [];\nlet totalDuration = 0;\n\ntry {\n  // 尝试解析AI返回的JSON\n  const content = aiResponse.message?.content || aiResponse.text || '';\n  const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    const parsed = JSON.parse(jsonMatch[0]);\n    chapters = parsed.chapters || [];\n    chapters = chapters.map((ch, idx) => {\n      const duration = ch.duration || 180;\n      totalDuration += duration;\n      return {\n        id: idx + 1,\n        title: ch.title,\n        content: ch.content,\n        duration: duration\n      };\n    });\n  }\n} catch (e) {\n  // AI解析失败，使用默认内容\n  chapters = [\n    { id: 1, title: '景点概述', content: spot.description || '欢迎来到这处红色景点', duration: 180 },\n    { id: 2, title: '历史背景', content: spot.history || '这里有着丰富的革命历史', duration: 200 },\n    { id: 3, title: '参观建议', content: spot.tips || '建议游览时间2-3小时', duration: 150 }\n  ];\n  totalDuration = 530;\n}\n\nreturn [{\n  json: {\n    success: true,\n    spotId: spot.id,\n    spotName: spot.name,\n    guide: {\n      intro: `欢迎来到${spot.name}，${spot.description?.substring(0, 50) || '这是一处重要的红色景点'}`,\n      chapters: chapters,\n      totalDuration: totalDuration,\n      totalChapters: chapters.length,\n      generatedBy: 'AI'\n    }\n  }\n}];"
      },
      "id": "d1e2f3a4-4444-5555-6666-777788889999",
      "name": "格式化结果",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "d1e2f3a4-5555-6666-7777-888899990000",
      "name": "响应",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "MySQL获取景点", "type": "main", "index": 0 }]] },
    "MySQL获取景点": { "main": [[{ "node": "OpenAI生成讲解", "type": "main", "index": 0 }]] },
    "OpenAI生成讲解": { "main": [[{ "node": "格式化结果", "type": "main", "index": 0 }]] },
    "格式化结果": { "main": [[{ "node": "响应", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { 
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "instanceId": "local"
  }
}
